@using Microsoft.Extensions.Configuration

@inject IConfiguration Configuration

@model DfT.ZEV.Administration.Application.ViewModels.CookieViewModel
@{
    ViewData["Title"] = "Cookies";
    var refererUrl = TempData["RefererUrl"];
}

@if (TempData["UserConsentSetInPreviousRequest"] as bool? == true)
{
    <vc:notification-banner
        banner-type="Success"
        body="You’ve set your cookie preferences."
        redirect-url="@refererUrl">
    </vc:notification-banner>
}

<div class="govuk-grid-row" data-test="cookies-page_content">

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Cookies</h1>
        <p class="govuk-body">Cookies are small files saved on your phone, tablet or computer when you visit a website.
        </p>
        <p class="govuk-body">We use cookies to make this service work and collect information about how you use our
            service.</p>

        <h2 class="govuk-heading-m">Cookie settings</h2>

        <h3 class="govuk-heading-m">Cookies that measure website use</h3>
            <p class="govuk-body">With your permission, we use Google Analytics to collect data about how you use
                this website. This information helps us improve our service.</p>
            <p class="govuk-body">Google is not allowed to share our analytics data with anyone.</p>
            <p class="govuk-body">Google Analytics stores anonymised information about:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>how you got to this website</li>
                <li>the pages you visit on this website</li>
                <li>any errors you see while using this website</li>
            </ul>

            <form id="settings" asp-controller="Cookies" asp-action="SetConsent" method="post">
                <div class="govuk-form-group">
                    @Html.HiddenFor(item => @Model.RedirectPath)
                    <govuk-radios asp-for="@Model.UserConsentAnalytics" data-test="cookies-page_google-consent">
                        <govuk-radios-item value="accept" data-test="cookies-page_google-consent_yes">Use cookies that
                            measure my website use
                        </govuk-radios-item>
                        <govuk-radios-item value="reject" data-test="cookies-page_google-consent_no">Do not use cookies
                            that measure my website use
                        </govuk-radios-item>
                    </govuk-radios>
                </div>

                <govuk-button id="save" type="submit" data-test="cookies-page_consent-submit">Save changes
                </govuk-button>
            </form>
    </div>
</div>

@section Scripts
{
    <script nonce="owned-assets">
        // This scripting is necessary to prevent concurrency with GA re-issuing tracking cookies at the point of page submission.
        var disableAnalytics = function () {
            window['ga-disable-@Model.AnalyticsTrackingCode'] = true;
        };

        $("#save").click(function (e) {
            e.preventDefault();
            var analyticsConsentValue = $("input[name='@nameof(Model.UserConsentAnalytics)']:checked").val();
            if (analyticsConsentValue == "reject") {
                disableAnalytics();
            }
            $("#settings").submit();
        });
    </script>
}
